mat-card{
    background:rgb(0, 160, 0);
    color:rgb(251, 233, 198);
    text-align: center;
    font-size: 30px;
    padding: 10% 15%;
    margin-top:10%; 
   
}

.container{
    display: table;
    margin:auto;
}
.home-btn,.registration-btn{
    margin: 1.5em 0em;
    padding:.5em 0em;
    font-size: 20px;
}

.ok-btn{
    display: table;
    margin: 1em auto;
    font-size: 20px;
    padding:.5em 0em;
    
}




.lt-md-img{
    width: 85%;
    height: 85%;
}

.gt-sm-img{
    width: 45%;
    height: 45%;
}

