<div *ngIf='activeUserRole=="Admin"'>
  <app-admin-nav></app-admin-nav>
</div>
<div *ngIf='activeUserRole=="Register"'>
  <app-register-nav></app-register-nav>
</div>

  <h1>Member Registration</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="signup()">
    <div class="container">
      <h3>User info</h3>
      <span class="warning">* Required field</span>
      <mat-card class="card" formGroupName='userInfo'>
        <label for='upload'>
          <input type='file'  id='upload' (change)="readUrl($event)" style='display:none;'>
       
          <img class="pic" [src]="url">
        </label>
        <div>
          <mat-form-field>
        <mat-label>*Full name</mat-label>
        <input  matInput type="text" formControlName="fullName">
      </mat-form-field>
        <mat-error *ngIf="registrationForm.get('userInfo').get('fullName').invalid && registrationForm.get('userInfo').get('fullName').touched">
          Full name required
        </mat-error>
      </div><!-- full name -->
      <mat-radio-group   formControlName="gender">
        <h5>*Gender</h5>
        <mat-radio-button type="radio" color='primary'  name="gender" id="male" value="male" >Male</mat-radio-button>
       <mat-radio-button type="radio" color='primary' name="gender" id="female" value="female" > Female</mat-radio-button>
      </mat-radio-group><!-- gender -->
      <div>
        <mat-form-field>
            <mat-label>*Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field> <!-- dob -->
        <mat-error *ngIf="registrationForm.get('userInfo').get('dob').invalid && registrationForm.get('userInfo').get('dob').touched">
          Date of birth required
        </mat-error>
      </div><!-- dob -->
      <div>
          <mat-form-field>
          <mat-label>*Father's name</mat-label>
          <input matInput type="text" formControlName="fatherName" [matAutocomplete]='auto'>
          <mat-autocomplete #auto='matAutocomplete'>
              <mat-option  *ngFor='let option of filteredOptions' [value]='option.name'>
                <span *ngIf='option.photo!==""'>
                    <img class="thumb" aria-hidden src="{{option.photo}}"/>
                </span>
                <span *ngIf='option.photo===""'>
                <img class="thumb" aria-hidden src="./assets/img/defult-pic.png"/>
                </span>
                <span>{{option.name}}</span> 
              </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-error *ngIf="registrationForm.get('userInfo').get('fatherName').invalid && registrationForm.get('userInfo').get('fatherName').touched">
            Father name required
          </mat-error>
        </div><!-- father name -->
        <div>        
          <mat-form-field>
          <mat-label>*Mother's name</mat-label>
          <input matInput type="text" formControlName="motherName" [matAutocomplete]='auto'>
          <mat-autocomplete #auto='matAutocomplete'>
              <mat-option  *ngFor='let option of filteredOptions' [value]='option.name'>
                  <span *ngIf='option.photo!==""'>
                      <img class="thumb" aria-hidden src="{{option.photo}}"/>
                  </span>
                  <span *ngIf='option.photo===""'>
                  <img class="thumb" aria-hidden src="./assets/img/defult-pic.png"/>
                  </span>
                  <span>{{option.name}}</span> 
                </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-error *ngIf="registrationForm.get('userInfo').get('motherName').invalid && registrationForm.get('userInfo').get('motherName').touched">
            Mother name required
          </mat-error>
        </div><!-- mother name -->
        <div>
            <mat-form-field>
            <mat-label>*Invited by</mat-label>
            <input matInput type="textarea" formControlName="invitedBy" [matAutocomplete]='auto'>
            <mat-autocomplete #auto='matAutocomplete'>
                <mat-option  *ngFor='let option of filteredOptions' [value]='option.name'>
                    <span *ngIf='option.photo!==""'>
                        <img class="thumb" aria-hidden src="{{option.photo}}"/>
                    </span>
                    <span *ngIf='option.photo===""'>
                    <img class="thumb" aria-hidden src="./assets/img/defult-pic.png"/>
                    </span>
                    <span>{{option.name}}</span> 
                  </mat-option>
            </mat-autocomplete>
          </mat-form-field>
            <mat-error *ngIf="registrationForm.get('userInfo').get('invitedBy').invalid && registrationForm.get('userInfo').get('invitedBy').touched">
                Invited by required
              </mat-error>
            </div><!-- invited by -->
            <div>
                <mat-form-field>
                  <input matInput type="text" placeholder="Blood Group" formControlName="bloodGroup">
                </mat-form-field>
              </div> <!-- blood group -->
      <mat-radio-group formControlName="occupation">
        <h5>*Occupation</h5>
        <mat-radio-button type="radio" color='primary' name="occupation" id="student" value="student" >Student</mat-radio-button>
       <mat-radio-button type="radio" color='primary' name="occupation" id="job holder" value="job holder" > Job holder</mat-radio-button>
        <mat-radio-button type="radio" color='primary' name="occupation" id="bussnessman" value="bussnessman" >Bussnessman</mat-radio-button>
        <mat-radio-button type="radio" color='primary' name="occupation" id="others" value="others" >Others</mat-radio-button>
      </mat-radio-group><!-- occupation -->
      </mat-card>
    </div><!-- user info -->
    <div class="container">
        <h3>Address</h3>
        <mat-card class="card" formGroupName='address'>
    <div>
        <mat-form-field>
        <mat-label>*Area/Thana (current)</mat-label>
        <input matInput type="text" formControlName="area">
      </mat-form-field>
        <mat-error *ngIf="registrationForm.get('address').get('area').invalid && registrationForm.get('address').get('area').touched">
          Area required
        </mat-error>
      </div><!-- area -->
      <div>
          <mat-form-field>
            <mat-label>*Upozilla (current)</mat-label>
          <input matInput type="text" formControlName="upozilla">
        </mat-form-field>
          <mat-error *ngIf="registrationForm.get('address').get('upozilla').invalid && registrationForm.get('address').get('upozilla').touched">
            Upozilla required
          </mat-error>
        </div><!-- upozilla -->
        <div>
            <mat-form-field>
                <mat-label>*Parmemt Address</mat-label>
            <input matInput type="textarea" formControlName="permanentAddress">
          </mat-form-field>
            <mat-error *ngIf="registrationForm.get('address').get('permanentAddress').invalid && registrationForm.get('address').get('permanentAddress').touched">
              Permanent address required
            </mat-error>
          </div><!-- permanent address -->
          <div>
              <mat-form-field>
              <mat-label>*District (current)</mat-label>
              <input matInput type="text" formControlName="district">
            </mat-form-field>
              <mat-error *ngIf="registrationForm.get('address').get('district').invalid && registrationForm.get('address').get('district').touched">
                District required
              </mat-error>
            </div><!-- district -->
          <div>
              <mat-form-field>
              <input matInput type="text" placeholder="Country" formControlName="country">
            </mat-form-field>
          </div><!-- country -->
          <div>
              <mat-form-field>
                <input matInput type="text" placeholder="Nationality" formControlName="nationality">
              </mat-form-field>
            </div><!-- nationality -->
          <div>
              <mat-form-field>
                <input matInput type="number" placeholder="National ID" formControlName="nId">
              </mat-form-field> 
            </div><!-- nid -->
        </mat-card>
    </div><!-- address -->
    <div class="container">
        <h3>Online</h3>
        <mat-card class="card" formGroupName='auth'>
            <div>
                <mat-form-field>
                <input matInput type="text"  placeholder="User name" formControlName="userName">
              </mat-form-field>
              </div><!-- user name -->
      <div>
        <mat-form-field>
        <mat-label>*Password </mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
        <mat-error *ngIf="registrationForm.get('auth').get('password').invalid && registrationForm.get('auth').get('password').touched">
          Password required
        </mat-error>
      </div><!-- password -->
      <div>
          <mat-form-field>
              <mat-label>*Conform password </mat-label>
          <input matInput type="password" formControlName="conPassword">
        </mat-form-field>
          <mat-error *ngIf="registrationForm.get('auth').get('conPassword').hasError('required') && registrationForm.get('auth').get('conPassword').touched">
            Conform password required
          </mat-error>
          <mat-error *ngIf="registrationForm.get('auth').get('conPassword').hasError('matchPassword') && registrationForm.get('auth').get('conPassword').touched">
              Conform password did not match
            </mat-error>
        </div><!--conform password -->
      <div>
        <mat-form-field>
            <mat-label>*Phone </mat-label>
        <input matInput type="number" formControlName="phone">
      </mat-form-field>
        <mat-error *ngIf="registrationForm.get('auth').get('phone').invalid && registrationForm.get('auth').get('phone').touched">
          Phone required
        </mat-error>
      </div><!-- phone -->
      <div>
          <mat-form-field>
            <input matInput type="email"  placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-error  *ngIf="registrationForm.get('auth').get('email').value !='' && registrationForm.get('auth').get('email').invalid">
            Invalid email
          </mat-error >
        </div> <!-- email -->
        <mat-radio-group formControlName="role">
          <h5>*Role</h5>
          <mat-radio-button type="radio" color='primary' name="role" id="User" value="User" checked="checked">User</mat-radio-button>

         <mat-radio-button type="radio" color='primary' name="role" id="Register" value="Register">Register</mat-radio-button>

          <mat-radio-button type="radio" color='primary' name="role" id="Leader" value="Leader" >Leader</mat-radio-button>

          <mat-radio-button type="radio" color='primary' name="role" id="Admin" value="Admin" >Admin</mat-radio-button>

          <mat-radio-button type="radio" color='primary' name="role" id="Accountant" value="Accountant" >Accountant</mat-radio-button>

         <mat-radio-button type="radio" color='primary' name="role" id="Super" value="Super" >Super</mat-radio-button>

        </mat-radio-group> <!-- role -->
    </mat-card>
    <div>
    <button type="submit"  mat-raised-button color="primary">Signup</button>
  </div>
    </div> <!-- online -->
    
    
  </form> <!-- Form -->

