<div *ngIf='activeUserRole=="Admin"'>
  <app-admin-nav></app-admin-nav>
</div>
<div *ngIf='activeUserRole=="Operator"'>
  <app-register-nav></app-register-nav>
</div>

  <h1>Member Registration</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="signup()">
    <div class="container">
      <h3>User info</h3>
      <span class="warning">* Required field</span>
      <mat-card class="card" formGroupName='userInfo'>
        <label for='upload'>
          <input type='file'  id='upload' (change)="readUrl($event)" style='display:none;'>
       
          <img class="pic" [src]="url">
        </label>
        <div>
          <mat-form-field>
        <mat-label>*Full name</mat-label>
        <input  matInput type="text" formControlName="fullName">
      </mat-form-field>
        <mat-error *ngIf="fullName.invalid && fullName.touched">
          Full name required
        </mat-error>
      </div><!-- full name -->
      <mat-radio-group   formControlName="gender">
        <h5>*Gender</h5>
        <mat-radio-button type="radio" color='primary'  name="gender" id="male" value="Male" >Male</mat-radio-button>
       <mat-radio-button type="radio" color='primary' name="gender" id="female" value="Female" > Female</mat-radio-button>
      </mat-radio-group><!-- gender -->
      <div>
        <mat-form-field>
            <mat-label>*Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field> <!-- dob -->
        <mat-error *ngIf="dob.invalid && dob.touched">
          Date of birth required
        </mat-error>
      </div><!-- dob -->
      <div>
          <mat-form-field>
          <mat-label>*Father's name</mat-label>
          <input matInput type="text" formControlName="fatherName" [matAutocomplete]='auto'>
          <mat-autocomplete #auto='matAutocomplete'>
              <mat-option  *ngFor='let option of filteredNames' [value]='option.name'>
                <span *ngIf='option.photo!==""'>
                    <img class="thumb" aria-hidden src="{{option.photo}}"/>
                </span>
                <span *ngIf='option.photo===""'>
                <img class="thumb" aria-hidden src="./assets/img/default-pic.png"/>
                </span>
                <span>{{option.name}}</span> 
              </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-error *ngIf="fatherName.invalid && fatherName.touched">
            Father name required
          </mat-error>
        </div><!-- father name -->
        <div>        
          <mat-form-field>
          <mat-label>*Mother's name</mat-label>
          <input matInput type="text" formControlName="motherName" [matAutocomplete]='auto'>
          <mat-autocomplete #auto='matAutocomplete'>
              <mat-option  *ngFor='let option of filteredNames' [value]='option.name'>
                  <span *ngIf='option.photo!==""'>
                      <img class="thumb" aria-hidden src="{{option.photo}}"/>
                  </span>
                  <span *ngIf='option.photo===""'>
                  <img class="thumb" aria-hidden src="./assets/img/default-pic.png"/>
                  </span>
                  <span>{{option.name}}</span> 
                </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-error *ngIf="motherName.invalid && motherName.touched">
            Mother name required
          </mat-error>
        </div><!-- mother name -->
        <div>
            <mat-form-field>
            <mat-label>*Invited by</mat-label>
            <input matInput type="textarea" formControlName="invitedBy" [matAutocomplete]='auto'>
            <mat-autocomplete #auto='matAutocomplete'>
                <mat-option  *ngFor='let option of filteredNames' [value]='option.name'>
                    <span *ngIf='option.photo!==""'>
                        <img class="thumb" aria-hidden src="{{option.photo}}"/>
                    </span>
                    <span *ngIf='option.photo===""'>
                    <img class="thumb" aria-hidden src="./assets/img/default-pic.png"/>
                    </span>
                    <span>{{option.name}}</span> 
                  </mat-option>
            </mat-autocomplete>
          </mat-form-field>
            <mat-error *ngIf="invitedBy.invalid && invitedBy.touched">
                Invited by required
              </mat-error>
            </div><!-- invited by -->
            <div>
              <h5 class='not-required'>Blood group <span class='instraction'>(click on below field for more options)</span></h5>
                <mat-form-field>
                 <mat-select formControlName='bloodGroup'>
                    <mat-option *ngFor='let option of bloodGroups' [value]='option'>
                      {{option}}
                    </mat-option>
                 </mat-select>
                </mat-form-field>
              </div> <!-- blood group -->
      <mat-radio-group formControlName="occupation">
        <h5>*Occupation</h5>
        <mat-radio-button type="radio" color='primary' name="occupation" id="student" value="Student" >Student</mat-radio-button>
       <mat-radio-button type="radio" color='primary' name="occupation" id="job holder" value="Job holder" > Job holder</mat-radio-button>
        <mat-radio-button type="radio" color='primary' name="occupation" id="bussnessman" value="Bussnessman" >Bussnessman</mat-radio-button>
        <mat-radio-button type="radio" color='primary' name="occupation" id="others" value="Others" >Others</mat-radio-button>
      </mat-radio-group><!-- occupation -->
      </mat-card>
    </div><!-- user info -->
    <div class="container">
        <h3>Address</h3>
        <mat-card class="card" formGroupName='address'>
            <div>
                <mat-form-field>
                    <mat-label>*Parmemt Address</mat-label>
                <input matInput type="textarea" formControlName="permanentAddress">
              </mat-form-field>
                <mat-error *ngIf="permanentAddress.invalid && permanentAddress.touched">
                  Permanent address required
                </mat-error>
              </div><!-- permanent address -->
    <div>
        <mat-form-field>
        <mat-label>*Zone (current)</mat-label>
        <input matInput type="text" formControlName="zone" [matAutocomplete]='z'>
        <mat-autocomplete #z='matAutocomplete'>
          <mat-option *ngFor='let option of filteredZone' [value]='option'>
              {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        <mat-error *ngIf="zone.invalid && zone.touched">
          Zone required
        </mat-error>
      </div><!-- zone -->
      <div>
          <mat-form-field>
            <mat-label>*Sub district (current)</mat-label>
          <input matInput type="text" formControlName="subDistrict" [matAutocomplete]='subDist'>
          <mat-autocomplete #subDist='matAutocomplete'>
            <mat-option *ngFor='let option of filteredSubDistricts' [value]='option'>
                {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-error *ngIf="subDistrict.invalid && subDistrict.touched">
            Sub district required
          </mat-error>
        </div><!-- subDistrict -->
          <div>
              <mat-form-field>
              <mat-label>*District (current)</mat-label>
              <input matInput type="text" formControlName="district" [matAutocomplete]='dist'>
              <mat-autocomplete #dist='matAutocomplete'>
                <mat-option *ngFor='let option of  filteredDistricts' [value]='option'>
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
              <mat-error *ngIf="district.invalid && district.touched">
                District required
              </mat-error>
            </div><!-- district -->
          <div>
              <mat-form-field>
              <input matInput type="text" placeholder="Country" formControlName="country">
            </mat-form-field>
          </div><!-- country -->
          <div>
              <mat-form-field>
                <input matInput type="text" placeholder="Nationality" formControlName="nationality">
              </mat-form-field>
            </div><!-- nationality -->
          <div>
              <mat-form-field>
                <input matInput type="number" placeholder="National ID" formControlName="nId">
              </mat-form-field> 
            </div><!-- nid -->
        </mat-card>
    </div><!-- address -->
    <div class="container">
        <h3>Online</h3>
        <mat-card class="card" formGroupName='auth'>
            <div>
                <mat-form-field>
                <input matInput type="text"  placeholder="User name" formControlName="userName">
              </mat-form-field>
              <mat-error *ngIf="userName.hasError('exist')">
                User name exist
              </mat-error>
              </div><!-- user name -->
      <div>
        <mat-form-field>
        <mat-label>*Password </mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
        <mat-error *ngIf="password.invalid && password.touched">
          Password required
        </mat-error>
      </div><!-- password -->
      <div>
          <mat-form-field>
              <mat-label>*Conform password </mat-label>
          <input matInput type="password" formControlName="conPassword">
        </mat-form-field>
          <mat-error *ngIf="conPassword.hasError('required') && conPassword.touched">
            Conform password required
          </mat-error>
          <mat-error *ngIf="conPassword.hasError('matchPassword') && conPassword.touched">
              Conform password did not match
            </mat-error>
        </div><!--conform password -->
      <div>
        <mat-form-field>
            <mat-label>*Phone </mat-label>
        <input matInput type="number" formControlName="phone">
      </mat-form-field>
        <mat-error *ngIf="phone.hasError('required') && phone.touched">
          Phone required
        </mat-error>
        <mat-error *ngIf="phone.hasError('exist')">
          Phone exist
        </mat-error>
      </div><!-- phone -->
      <div>
          <mat-form-field>
            <input matInput type="email"  placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-error  *ngIf="email.value !='' && email.hasError('email')">
            Invalid email
          </mat-error >
          <mat-error *ngIf="email.hasError('exist')">
            Email exist
          </mat-error>
        </div> <!-- email -->
        <h5>*Role <span class='instraction'>(click on below field for more options)</span></h5>
        <mat-form-field>
        <mat-select formControlName='role'>
          <mat-option *ngFor='let role of roles' [value]='role'>
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <div>
    <button type="submit"  mat-raised-button color="primary">Signup</button>
  </div>
    </div> <!-- online -->
    
    
  </form> <!-- Form -->

