

.pic{
    border: #adadad solid 6px;
    width:150px;
    height:150px;
}
mat-option{
   border-bottom: rgba(255, 255, 255, 0.76) solid 5px;
}

.thumb{
    vertical-align:middle;
    height:50px;
    width:50px;
    padding-right: 5px;
    
}

.not-required,.instraction{
    color:gray;
}

.instraction{
    font-size:14px;

}

.warning{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:20px; 
}

label{
    display:table;
    margin:auto;
}

mat-form-field{
    width: 50em !important;
    
}


.card{
    display: inline-block;
    }

  .container{
    display: table;
    margin: auto;
    }

  h1,h3{
    font-size: 30px;
    text-align: center;
}

::ng-deep .mat-snack-bar-container{
    background:#005807;
}

::ng-deep .mat-simple-snackbar{
    font-size:22px;
}

h5{
    font-size: 22px;
}



  mat-label,h5,span{
    color:rgb(32, 2, 138);
  }



::ng-deep .mat-snack-bar-container.mat-snack-bar-center{
    margin-top:65% !important; 
}

h3{
    font-size: 1.2em;
    padding: 30px 0px;
}

.mat-radio-button{
    padding-right: 1.8em;
   
}

button{
    float: right;
    margin: 2em 0;
    padding: .5em 3em;
}



