

.occupation input,.role input{
    display: inline;
    margin-left:1em;
    margin-right: 1em;
    background: red;
    
}

mat-form-field{
    width: 38em !important;
    
}


.mandatory,.optional{
    display: table;
    margin: auto;
}


.card{
    display: inline-block;
  }
  .card2{
    background: #ffffff63;
    padding: 4% 5%;
    display: inline-block;
    
  }

  h1,h3{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 1.2em;
}
.card-container{
    display: table;
    margin: auto;
    
}
.mat-radio-button{
    padding-right: 1.8em;
   
}

::ng-deep .mat-radio-inner-circle {
    background: rgba(114, 5, 187, 0.808) !important;
}

::ng-deep .mat-radio-outer-circle{
    border-color: rgba(114, 5, 187, 0.808) !important;

}

button{
    float: right;
    margin: 2em 0;
    padding: .5em 3em;
}



