

img{
    border: #adadad solid 6px;
    width:150px;
    height:150px;
}

label{
    display:table;
    margin:auto;
}

mat-form-field{
    width: 50em !important;
    
}


.card{
    display: inline-block;
    }

  .container{
    display: table;
    margin: auto;
    }

  h1,h3{
    font-size: 30px;
    text-align: center;
}

::ng-deep .mat-snack-bar-container{
    background:#005807;
}

::ng-deep .mat-simple-snackbar{
    font-size:22px;
}

h5{
    font-size: 22px;
}

  mat-label,h5,span{
    color:rgb(218, 142, 3);
  }

  input::placeholder {
    color: red;
  }


::ng-deep .mat-snack-bar-container.mat-snack-bar-center{
    margin:30px !important; 
}

h3{
    font-size: 1.2em;
    padding: 30px 0px;
}

.mat-radio-button{
    padding-right: 1.8em;
   
}

::ng-deep .mat-radio-inner-circle {
    background: rgba(114, 5, 187, 0.808) !important;
}

::ng-deep .mat-radio-outer-circle{
    border-color: rgba(114, 5, 187, 0.808) !important;

}

button{
    float: right;
    margin: 2em 0;
    padding: .5em 3em;
}



