<ul class="nav-bar">
  <li><a routerLink="/register/home">Home</a></li>
  <li><a routerLink="/register/profile">Profile</a></li>
  <li><a routerLink="/register/registration">Registration</a></li>
  <li><a routerLink="/register/finance">Finnce</a></li>
  <li><a routerLink="/register/notification">Notifiction</a></li>
  <li><a routerLink="/login">Logout</a></li>
</ul>
<form [formGroup]="searchForm" (ngSubmit)="search()" class="search-bar">
  <input type="text" placeholder="name" formControlName="name">
  <input type="text" placeholder="area" formControlName="area">
  <input type="text" placeholder="father's name" formControlName="fatherName">
  <button type="submit">Search</button>
</form>
