.nav-bar{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-bar li{
    float: left;
    margin-right: 2em;
}

.logout-btn{
    background: red;
}

::ng-deep .mat-tab-label{
    font-family: 'Ubuntu', sans-serif !important;
}

::ng-deep .mat-tab-label:nth-child(6){
    margin-right: -60px;
  
}
