
img{
    height: 100px;
    width: 100px;
   }

.inline-center{
    display: block;
    margin: 10px auto;
}

button{
    float: right;
    
}
.remember{
    margin-top: 1em;
    clear: both;
    float: right;
    font-size: 13px;
}

example-margin {
    margin: 0 10px;
  }


form {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
  }

  .card{
    background: #ffffffb4;
    display: inline-block;
  }

  ::ng-deep .mat-form-field-infix{
      width: 400px !important;
  }
  .error{
    margin-bottom: 1em;
  }




