
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-card class="card">
        <img  class="inline-center" src="./assets/img/logo.png">
        <div class="controls">
          <div>
            <mat-form-field>
              <input matInput class="inline-center input-field" type="text" placeholder="Name or Email" formControlName="userInfo">
            </mat-form-field>
          </div>
          <mat-error class="error" *ngIf="userInfo.invalid && userInfo.touched">
            Field is empty
          </mat-error>
          <mat-error class="error">
              {{unError}}
            </mat-error>
          <div>
            <mat-form-field>
              <input matInput type="password" class="inline-center" placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <mat-error class="error" *ngIf="password.invalid && password.touched">
           Field is empty
          </mat-error>
          <mat-error class="error">
              {{passError}}
            </mat-error>
         
          <button mat-raised-button color="primary" type="submit">Login</button>
          <div class="remember">
            <mat-checkbox  color='primary' formControlName="remember">Remember password</mat-checkbox>
          </div>
        </div> <!-- controls -->
  </mat-card> 

      </form>

    
   
