<form [formGroup]="loginForm" (ngSubmit)="login()">
  <img class="inline-center" src="../../assets/img/logo.jpg">
  <div class="controls">
    <input  class="inline-center" type="text" placeholder="Name or Email" formControlName="phone_email">
    <div *ngIf="loginForm.controls.phone_email.invalid">
      Not a Valid email
    </div>
    <input type="password" class="inline-center" placeholder="Password" formControlName="password">
    <div *ngIf="loginForm.controls.password.invalid">
      Password field is empty
    </div>
   
    <button type="submit">Login</button>
    <div class="remember">
      <input  type="checkbox" formControlName="remember">Remember password
    </div>
  </div>

</form>
