<div mat-tab-nav-bar ngClass.gt-sm="nav-container" fxLayout="row" *ngIf="navBar">
  <div  fxLayout fxLayoutAlign.gt-sm="center" >
                  <button mat-icon-button (click)="sidenav.toggle()" fxShow="true"  fxHide.gt-sm>
                    <mat-icon>menu</mat-icon>
                  </button>
               
    <span *ngFor="let routerLink of routerLinks;let i=index" fxHide.lt-md>
        <a mat-tab-link *ngIf='i===0'
        [routerLink]="routerLink.link" fxHide.md>
           <img class='nav-logo' src="./assets/img/logo.png" alt="" >
       </a >
        <a mat-tab-link *ngIf='i!==0'
        [routerLink]="routerLink.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive" fxFlex fxHide.lt-md>
           {{routerLink.label | translate}}
       </a>
    </span>
        <a mat-tab-link class="lan" (click)='select1.open()' fxFlex="10%">
            <mat-select (change)="dropdown($event.value)" [(ngModel)]="defaultLan" #select1>
                <mat-option *ngFor='let lang of lanList;let i=index;' value='{{lang}}' >
                    <img class='nav-ico middle' src="assets/img/flag{{i}}.png">
                        {{lang}}
                    </mat-option>
            </mat-select>
        </a>
        
        <a mat-tab-link class="lan" (click)='select2.open()' style="opacity: 1;" fxLayout fxFlex="5%" fxHide.lt-md>
                <img class='nav-photo' *ngIf='photoUrl' src="{{photoUrl}}" fxHide.md>
                <mat-select #select2 style="margin-left:-3em;">
                    <mat-option (click)="logout()">
                            <span  style="text-align: center;display: block;color: red;">{{'Logout' | translate}}</span>
                        </mat-option>
                </mat-select>
            </a>

</div>
</div>
<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
          <span *ngFor="let routerLink of routerLinks;let i=index">
                <a *ngIf="i!==0" [routerLink]="routerLink.link" (click)="sidenav.toggle()"  mat-list-item routerLinkActive="active">
                        {{routerLink.label | translate}}
                </a>
          </span>
          <a mat-list-item (click)="logout()" (click)="sidenav.toggle()" routerLinkActive="active">
                <mat-icon>exit_to_app</mat-icon> 
                <span  style="color: red;padding-left:10px; ">{{'Logout' | translate}}</span>
          </a>
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

