.nav-container{
    background: #ffffffb4;
}

.nav-container a{
    height: 6em;
    font-size: 18px;
    font-weight:bold; 
}



.menu-icon{
    width:1em;
    height: 1em;
    margin-left: .5em;
}
.nav-logo{
    width: 5.3em;
    height: 5em;
}

.nav-photo{
    width: 3em;
    height: 3em;
    border-radius: 2px;
    
}

.nav-ico,.nav-ico img{
    width: 1.5em;
    height: 1.5em;
    border-radius: 2px;
    margin-right:1em; 
}

::ng-deep .lan .mat-select-value {
    vertical-align: middle;
    padding: 100% 0%;
    
}

.middle{
    vertical-align: middle;
}

.nav-content{
    display: table;
    margin: auto;
    
}

.mat-tab-link{
    min-width: 120px !important;
}





