table,tbody{
    display: table;
    margin:40px auto;
}
mat-card{
    display: inline-block;
}
tr{
    line-height:90px;
}

td{
    width: 19.2vw;
    font-size: 25px;
    vertical-align: middle;
}
.thead{
    padding-left:1.5vw; 
}

th{
    width: 19.2vw;
    text-align: left;
    font-size: 25px;
   
}

img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
