<div *ngIf='activeUserRole=="Admin"'>
  <app-admin-nav></app-admin-nav>
</div>
<div *ngIf='activeUserRole=="Operator"'>
  <app-register-nav></app-register-nav>
</div>
<div *ngIf='activeUserRole=="Super" || activeUserRole==="Leader"'>
  <app-sule-nav></app-sule-nav>
</div>
<div *ngIf='activeUserRole=="Accountant"'>
  <app-accountant-nav></app-accountant-nav>
</div>

<table>
    <mat-card class="search-card">
        <mat-form-field>
          <input matInput (keyup)="nameFilter($event.target.value)" placeholder="Search name">
        </mat-form-field>
        <mat-form-field class="middle-filter">
            <input matInput (keyup)="zoneFilter($event.target.value)" placeholder="Search district">
          </mat-form-field>
          <mat-form-field>
              <input matInput (keyup)="subDistrictFilter($event.target.value)" placeholder="Search sub district">
            </mat-form-field>
      </mat-card>
    
  <div >
    <!-- <th>
        <span class="thead">Picture</span>
    </th> -->
    <th>
        <span class="thead">Name</span>
    </th>
    <th>
        <span class="thead">Zone</span>
    </th>
    <th>
        <span class="thead">Sub District</span>
    </th>
  </div>
  <mat-card *ngFor='let obj of filteredArry; let i=index' class="table-card" (click)='itemClick(i)'>
    <!-- <td>
      <span *ngIf="obj.photo!==''">
        <img src='{{obj.photo}}'>
      </span>
      <span *ngIf="obj.photo===''">
          <img src='./assets/img/default-pic.png'>
        </span>
    </td> -->
    <td>{{obj.fullName}}</td>
    <td>{{obj.zone}}</td>
    <td>{{obj.subDistrict}}</td>
  </mat-card>
</table>



