.container{
    width: 60%;
    margin:40px auto;
}

tr{
    line-height:90px;
    
}
.table-card{
    margin-bottom: 1px;
    padding-top: 20px; 
    padding-bottom: 20px; 
    
}

.table-card:hover{
    cursor: pointer;
}

::ng-deep .mat-paginator-container{
    display: block !important;
}

td{
    font-size: 25px;
    
}


th{
    text-align: left;
    font-size: 20px;
    padding-bottom: 30px;
   
}

.thead{
    padding: 24px;
}

img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.search-card{
    margin-bottom: 30px;
}

.spinner{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 30%;
  }
  .middle-filter{
      margin: 0% 4%;
  }

  mat-paginator{
      font-size: 20px;
      display: table;
      margin: auto;
  }


    .footer{
        padding-top:0px;
        padding-bottom:0px; 
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

