<div class='container'>
  <div>
    <button mat-raised-button color='primary' class="back-btn" (click)='back()'>{{'MixedComponent.Back' | translate}}</button>
    <h1>{{'MixedComponent.Heading2' | translate}}</h1>
  </div>
  <mat-card>
     
    <div *ngIf='user' class='sub-1'>
      <span *ngIf='!user.photo'>
        <label>
          <input type='file' id='upload' (change)="readUrl($event)" style='display:none;'>

          <img class="pic" src='./assets/img/default-pic.png'>
          <a mat-raised-button class="upload-button">{{'MixedComponent.Upload' | translate}}</a>
        </label>
      </span>
      <span *ngIf='user.photo'>
        <label>
          <input type='file' id='upload' (change)="readUrl($event)" style='display:none;'>

          <img class="pic" [src]="url">
          <a mat-raised-button class="upload-button">{{'MixedComponent.Upload' | translate}}</a>
        </label>
        <mat-error *ngIf='picError' class="pic-error">
          {{'MixedComponent.Error.Pic' | translate}}
        </mat-error>
      </span>
    </div>

    
  

    <div class='sub-2'>
        
      <ul *ngIf='user'>
        <h2>{{'MixedComponent.SubHeading1' | translate}}</h2>
        <div  *ngIf='loding' style="position:absolute;" fxLayout.lt-md='column' fxLayout.lt-md='row' ngClass.lt-md="spinner">
            <mat-spinner  [diameter]='200'></mat-spinner>
          </div>
        
        <li *ngIf='!nameEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='nameEditing=true'>
            <h4>{{'MixedComponent.Name' | translate}}</h4>
          </span>
          <span fxFlex.gt-sm='1 0 auto'>{{user.fullName}}</span>

        </li>
        <li *ngIf='nameEditing' class="alter">
          <form [formGroup]='nameForm' (ngSubmit)='done("nameForm","fullName","user","nameEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Name' | translate}}</h4>
              <input type="text" formControlName='fullName'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
              <img src="assets/img/wrong.png" (click)='cencel("nameForm","fullName","user","nameEditing")'>
            </div>

            <!-- <div class="clearfix"></div> -->
            <div *ngIf='nameForm.controls.fullName.invalid' class="errorMessege">
              {{'MixedComponent.Error.Name' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='!genderEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='genderEditing=true'>
            <h4>{{'MixedComponent.Gender' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.gender}}</span>

        </li>
        <li *ngIf='genderEditing' class="alter">
          <form [formGroup]='genderForm' (ngSubmit)='done("genderForm","gender","user","genderEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Gender' | translate}}</h4>
              <mat-radio-group formControlName='gender'>
                <mat-radio-button type="radio" color='primary' name="gender" id="male" value="{{'MixedComponent.Male' | translate}}">{{'MixedComponent.Male'
                  | translate}}</mat-radio-button>
                <mat-radio-button type="radio" color='primary' name="gender" id="female" value="{{'MixedComponent.Female' | translate}}">{{'MixedComponent.Female'
                  | translate}}</mat-radio-button>
              </mat-radio-group>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("genderForm","gender","user","genderEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
          </form>
        </li>
        <li *ngIf='!dobEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='dobEditing=true'>
            <h4>{{'MixedComponent.Dob' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.dob}}</span>

        </li>
        <li *ngIf='dobEditing' class="alter">
          <form [formGroup]='dobForm' (ngSubmit)='dobDone()' fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap='10px'>
              <h4>{{'MixedComponent.Dob' | translate}}</h4>
              <span class="dob" fxLayout.lt-md='column' fxLayoutGap.lt-md='10px'>
                <input type="number" placeholder="Day" formControlName='day'>
                <select formControlName='month'>
                  <option *ngFor='let option of months' value='{{option| translate}}'>
                    {{option| translate}}
                  </option>
                </select>
                <input type="number" placeholder="Year" formControlName='year'>
              </span>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencelDob()'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>

            <div *ngIf='dobForm.controls.day.invalid' class="errorMessege">
              {{'MixedComponent.Error.Day' | translate}}
            </div>
            <div *ngIf='dobForm.controls.year.invalid' class="errorMessege">
              {{'MixedComponent.Error.Year' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='!fatherNameEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='fatherNameEditing=true'>
            <h4>{{'MixedComponent.FatherName' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.fatherName}}</span>

        </li>
        <li *ngIf='fatherNameEditing' class="alter">
          <form [formGroup]='fatherNameForm' (ngSubmit)='done("fatherNameForm","fatherName","user","fatherNameEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.FatherName' | translate}}</h4>
              <input type="text" formControlName='fatherName'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("fatherNameForm","fatherName","user","fatherNameEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='fatherNameForm.controls.fatherName.invalid' class="errorMessege">
              {{'MixedComponent.Error.FatherName' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='!motherNameEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='motherNameEditing=true'>
            <h4>{{'MixedComponent.MotherName' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.motherName}}</span>

        </li>
        <li *ngIf='motherNameEditing' class="alter">
          <form [formGroup]='motherNameForm' (ngSubmit)='done("motherNameForm","motherName","user","motherNameEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.MotherName' | translate}}</h4>
              <input type="text" formControlName='motherName'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("motherNameForm","motherName","user","motherNameEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='motherNameForm.controls.motherName.invalid' class="errorMessege">
              {{'MixedComponent.Error.MotherName' | translate}}
            </div>
          </form>


        <li *ngIf='!maritalEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='maritalEditing=true'>
            <h4>{{'MixedComponent.Status' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.maritalStatus}}</span>

        </li>
        <li *ngIf='maritalEditing' class="alter">
          <form [formGroup]='maritalForm' (ngSubmit)='statusDone()' fxLayout='column'>
            <span fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='10px'>
              <h4>{{'MixedComponent.Status' | translate}}</h4>
              <mat-radio-group formControlName='status' fxLayout.lt-md='column' fxLayoutGap.gt-sm='10px'>
                <mat-radio-button type="radio" color='primary' name="marital" id="married" value="{{'MixedComponent.Married'
                | translate}}">{{'MixedComponent.Married'
                  | translate}}</mat-radio-button>
                <mat-radio-button type="radio" color='primary' name="marital" id="single" value="{{'MixedComponent.Single'
                | translate}}">{{'MixedComponent.Single'
                  | translate}}</mat-radio-button>
              </mat-radio-group>

              <span *ngIf='!spouseWpcabMember || !marriedSelected'>
                <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
                  <img src="assets/img/wrong.png" (click)='cencelStatus()'>
                  <!-- input type submit image button -->
                  <input src="assets/img/right.png" type='image' class='submit-button'>
                </div>
              </span>
            </span>
            <div>
              <div *ngIf='marriedSelected'>
                <div class="check">
                  <h4></h4>
                  <mat-checkbox color='primary' formControlName='member'>{{'MixedComponent.WPCABMember' | translate}}
                  </mat-checkbox>
                </div>

                <div *ngIf='spouseWpcabMember' fxLayout.gt-md='row' fxLayout.lt-sm='column'>
                  <h4>{{'MixedComponent.Spouse' | translate}}</h4>
                  <span>
                    <input type="textarea" formControlName="spouseName" [matAutocomplete]='spa' (keyup)='nameAutoSuggestion($event.target.value)'>
                    <mat-autocomplete #spa='matAutocomplete'>
                      <mat-option *ngFor='let option of filteredName' [value]='option.name'>
                        <span>{{option.name}}</span>
                        <span *ngIf='option.zone!=="Other"'>({{option.zone}})</span>
                        <span *ngIf='option.zone==="Other"'>({{option.subDistrict}})</span>
                      </mat-option>
                    </mat-autocomplete>
                  </span>

                  <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
                    <img src="assets/img/wrong.png" (click)='cencelStatus()'>
                    <!-- input type submit image button -->
                    <input src="assets/img/right.png" type='image' class='submit-button'>
                  </div>
                  <div *ngIf='maritalForm.controls.spouseName.invalid' class="errorMessege">
                    {{'MixedComponent.Error.SpouseName' | translate}}
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!-- spouse checkbox -->

            <div class="clearfix"></div>
          </form>
        </li>
        <!-- marital status -->
        <li *ngIf='user.invitedBy && !invitedByEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='invitedByEditing=true'>
            <h4>{{'MixedComponent.InvitedBy' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.invitedBy}}</span>

        </li>
        <li *ngIf='!user.invitedBy && !invitedByEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='invitedByEditing=true'>
            <h4>{{'MixedComponent.InvitedBy' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>

        </li>
        <li *ngIf='invitedByEditing' class="alter">
          <form [formGroup]='invitedByForm' (ngSubmit)='done("invitedByForm","invitedBy","user","invitedByEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.InvitedBy' | translate}}</h4>
              <input type="text" formControlName='invitedBy'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("invitedByForm","invitedBy","user","invitedByEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='invitedByForm.controls.invitedBy.invalid' class="errorMessege">
              {{'MixedComponent.Error.Inviter' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='!occupationEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='occupationEditing=true'>
            <h4>{{'MixedComponent.Occupation' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.occupation}}</span>

        </li>
        <li *ngIf='occupationEditing' class="alter">
          <form [formGroup]='occupationForm' (ngSubmit)='occupationDone()' fxLayout='column'>

            <span fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap='10px'>
              <h4>{{'MixedComponent.Occupation' | translate}}</h4>
              <mat-radio-group formControlName="occupation" fxLayout.lt-md='column' fxLayoutGap='10px'>
                <mat-radio-button type="radio" color='primary' name="occupation" id="student" value="{{'MixedComponent.Student' | translate}}">{{'MixedComponent.Student'
                  | translate}}</mat-radio-button>
                <mat-radio-button type="radio" color='primary' name="occupation" id="job holder" value="{{'MixedComponent.Job' | translate}}">{{'MixedComponent.Job'
                  | translate}}</mat-radio-button>
                <mat-radio-button type="radio" color='primary' name="occupation" id="businessman" value="{{'MixedComponent.Businessman' | translate}}">{{'MixedComponent.Businessman'
                  | translate}}</mat-radio-button>
                <mat-radio-button type="radio" color='primary' name="occupation" id="others" value="Others">{{'MixedComponent.Other'
                  | translate}}</mat-radio-button>
              </mat-radio-group>
              <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
                <img *ngIf='!otherOccupationSelected' src="assets/img/wrong.png" (click)='cencelOccupation()'>

                <input *ngIf='!otherOccupationSelected' src="assets/img/right.png" type='image' class='submit-button'>
              </div>
            </span>
            <!-- occupation -->
            <div *ngIf='otherOccupationSelected' fxLayout.gt-md='row' fxLayout.lt-sm='column'>
              <span>
                <h4>{{'MixedComponent.Qus' | translate}}</h4>
                <input type="text" formControlName='otherOccupation'>
              </span>
              <span>
                <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top'>
                  <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
                    <img src="assets/img/wrong.png" (click)='cencelOccupation()'>
                    <!-- input type submit image button -->
                    <input src="assets/img/right.png" type='image' class='submit-button'>
                  </div>
                </div>
                <div *ngIf='occupationForm.controls.otherOccupation.invalid' class="errorMessege">
                  {{'MixedComponent.Error.Occupation' | translate}}
                </div>
              </span>
            </div>
            <!-- dinamic occupation field -->
          </form>
        </li>
        <li *ngIf='user.bloodGroup && !bloodGroupEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='bloodGroupEditing=true'>
            <h4>{{'MixedComponent.Blood' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.bloodGroup}}</span>

        </li>
        <li *ngIf='!user.bloodGroup && !bloodGroupEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='bloodGroupEditing=true'>
            <h4>{{'MixedComponent.Blood' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>

        </li>
        <li *ngIf='bloodGroupEditing' class="alter">
          <form [formGroup]='bloodGroupForm' (ngSubmit)='done("bloodGroupForm","bloodGroup","user","bloodGroupEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Blood' | translate}}</h4>
              <mat-form-field>
                <mat-select formControlName='bloodGroup'>
                  <mat-option *ngFor='let option of bloodGroups' value='{{option | translate}}'>
                    {{option | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <div fxLayoutAlign='center center' ngClass.lt-md='margin-top'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
              <img src="assets/img/wrong.png" (click)='cencel("bloodGroupForm","bloodGroup","user","bloodGroupEditing")'>
              
            </div>
            <div class="clearfix"></div>
          </form>
        </li>
        <div class="clearfix"></div>
      </ul>
      <ul *ngIf='user'>
        <h2>{{'MixedComponent.SubHeading3' | translate}}</h2>
        <li *ngIf='!phoneEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='phoneEditing=true'>
            <h4>{{'MixedComponent.Phone' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.phone}}</span>

        </li>
        <li *ngIf='phoneEditing' class="alter">
          <form [formGroup]='phoneForm' (ngSubmit)='done("phoneForm","phone","user","phoneEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Phone' | translate}}</h4>
              <input type="text" formControlName='phone'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("phoneForm","phone","user","phoneEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='phoneForm.controls.phone.hasError("required")' class="errorMessege">
              {{'MixedComponent.Error.Phone' | translate}}
            </div>
            <div *ngIf='phoneForm.controls.phone.hasError("exist")' class="errorMessege">
              {{'MixedComponent.Error.PhomeExist' | translate}}
            </div>
            <div *ngIf='phoneForm.controls.phone.hasError("pattern")' class="errorMessege">
              {{'MixedComponent.Error.Number' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='!passwordEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='passwordEditing=true'>
            <h4>{{'MixedComponent.Password' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto"> {{'MixedComponent.Hidden' | translate}}</span>

        </li>
        <li *ngIf='passwordEditing' class="alter">
          <form [formGroup]='passwordForm' (ngSubmit)='done("passwordForm","password","user","passwordEditing","userChanges")'
            fxLayout='column'>
            <span>
              <h4>{{'MixedComponent.Password' | translate}}</h4>
              <input type="password" formControlName='password'>
              <div *ngIf='passwordForm.controls.password.invalid' class="errorMessege">
                {{'MixedComponent.Error.Password' | translate}}
              </div>
            </span>
            <span fxLayout.gt-sm='row' fxLayout.lt-md='column'>
              <span>
                <h4>{{'MixedComponent.ConPass' | translate}}</h4>
                <input type="password" formControlName='conPassword' class="con-password">
              </span>
              <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
                <img src="assets/img/wrong.png" (click)='cencelPassword()'>
                <!-- input type submit image button -->
                <input src="assets/img/right.png" type='image' class='submit-button'>
              </div>
            </span>


            <div *ngIf='passwordForm.controls.conPassword.hasError("required")' class="errorMessege">
              {{'MixedComponent.Error.ConPass' | translate}}
            </div>
            <div *ngIf='passwordForm.controls.conPassword.hasError("missMatchedPassword")' class="errorMessege">
              {{'MixedComponent.Error.Match' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='user.email && !emailEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='emailEditing=true'>
            <h4>{{'MixedComponent.Email' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.email}}</span>

        </li>
        <li *ngIf='!user.email && !emailEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='emailEditing=true'>
            <h4>{{'MixedComponent.Email' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>
        </li>
        <li *ngIf='emailEditing' class="alter">
          <form [formGroup]='emailForm' (ngSubmit)='done("emailForm","email","user","emailEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Email' | translate}}</h4>
              <input type="email" formControlName='email'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("emailForm","email","user","emailEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='emailForm.controls.email.hasError("exist")' class="errorMessege">
              {{'MixedComponent.Error.EmailExist' | translate}}
            </div>
            <div *ngIf='emailForm.controls.email.hasError("email")' class="errorMessege">
              {{'MixedComponent.Error.Email' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='user.userName && !userNameEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='userNameEditing=true'>
            <h4>{{'MixedComponent.UN' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.userName}}</span>

        </li>
        <li *ngIf='!user.userName && !userNameEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='userNameEditing=true'>
            <h4>{{'MixedComponent.UN' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>

        </li>
        <li *ngIf='userNameEditing' class="alter">
          <form [formGroup]='userNameForm' (ngSubmit)='done("userNameForm","userName","user","userNameEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.UN' | translate}}</h4>
              <input type="userName" formControlName='userName'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("userNameForm","userName","user","userNameEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
          </form>
        </li>
        <li *ngIf='!roleEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='roleEditing=true'>
            <h4>{{'MixedComponent.Role' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.role}}</span>

        </li>
        <li *ngIf='roleEditing' class="alter">
          <form [formGroup]='roleForm' (ngSubmit)='done("roleForm","role","user","roleEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Role' | translate}}</h4>
              <mat-form-field>
                <mat-select formControlName='role'>
                  <mat-option *ngFor='let option of roles' value='{{option | translate}}'>
                    {{option | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <div fxLayoutAlign='center center' ngClass.lt-md='margin-top'>
             
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>

               <img src="assets/img/wrong.png" (click)='cencel("roleForm","role","user","roleEditing")'>
            </div>
            <div class="clearfix"></div>
          </form>
        </li>
        <div class="clearfix"></div>
      </ul>
      <ul *ngIf='user'>
        <h2>{{'MixedComponent.SubHeading2' | translate}}</h2>
        <li *ngIf='!zoneEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='zoneEditing=true'>
            <h4>{{'MixedComponent.Zone' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto"> {{user.zone}}</span>

        </li>
        <li *ngIf='zoneEditing' class="alter">
          <form [formGroup]='zoneForm' (ngSubmit)='done("zoneForm","zone","user","zoneEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Zone' | translate}}</h4>
              <span>
                <input type="text" formControlName='zone' [matAutocomplete]='z' (keyup)='zoneAutoSuggestion($event.target.value)'>
                <mat-autocomplete #z='matAutocomplete'>
                  <mat-option *ngFor='let option of filteredZone' [value]='option'>
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </span>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("zoneForm","zone","user","zoneEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='zoneForm.controls.zone.hasError("required")' class="errorMessege">
              {{'MixedComponent.Error.Zone' | translate}}
            </div>
            <div *ngIf='zoneForm.controls.zone.hasError("zoneDoesNotExixt")' class="errorMessege">
              {{'MixedComponent.Error.NotZone' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='!subDistrictEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='subDistrictEditing=true'>
            <h4>{{'MixedComponent.SubDis' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.subDistrict}}</span>
        </li>
        <li *ngIf='subDistrictEditing' class="alter">
          <form [formGroup]='subDistrictForm' (ngSubmit)='done("subDistrictForm","subDistrict","user","subDistrictEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.SubDis' | translate}}</h4>
              <span>
                <input type="text" formControlName='subDistrict' [matAutocomplete]='subDist' (keyup)='autoSuggestion($event.target.value,"subDistricts","filteredsubDistrict")'>
                <mat-autocomplete #subDist='matAutocomplete'>
                  <mat-option *ngFor='let option of filteredsubDistrict' [value]='option'>
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </span>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("subDistrictForm","subDistrict","user","subDistrictEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='subDistrictForm.controls.subDistrict.hasError("required")' class="errorMessege">
              {{'MixedComponent.Error.SubDist' | translate}}
            </div>
            <div *ngIf='subDistrictForm.controls.subDistrict.hasError("subDistrictDoesNotExixt")' class="errorMessege">
              {{'MixedComponent.Error.NotSubDist' | translate}}
            </div>
          </form>
        </li>



        <li *ngIf='!permanentAddressEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='permanentAddressEditing=true'>
            <h4>{{'MixedComponent.PA' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.permanentAddress}}</span>

        </li>





        <li *ngIf='permanentAddressEditing' class="alter">
          <form [formGroup]='permanentAddressForm' (ngSubmit)='done("permanentAddressForm","permanentAddress","user","permanentAddressEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.PA' | translate}}</h4>
              <input type="permanentAddress" formControlName='permanentAddress'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("permanentAddressForm","permanentAddress","user","permanentAddressEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='permanentAddressForm.controls.permanentAddress.invalid' class="errorMessege">
              {{'MixedComponent.Error.PA' | translate}}
            </div>
          </form>
        </li>



        <li *ngIf='!districtEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='districtEditing=true'>
            <h4>{{'MixedComponent.Dist' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.district}}</span>

        </li>
        <li *ngIf='districtEditing' class="alter">
          <form [formGroup]='districtForm' (ngSubmit)='done("districtForm","district","user","districtEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Dist' | translate}}</h4>
              <span>
                <input type="text" formControlName='district' [matAutocomplete]='dist' (keyup)='autoSuggestion($event.target.value,"districts","filtereddistrict")'>
                <mat-autocomplete #dist='matAutocomplete'>
                  <mat-option *ngFor='let option of filtereddistrict' [value]='option'>
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </span>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("districtForm","district","user","districtEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='districtForm.controls.district.hasError("required")' class="errorMessege">
              {{'MixedComponent.Error.Dist' | translate}}
            </div>
            <div *ngIf='districtForm.controls.district.hasError("districtDoesNotExixt")' class="errorMessege">
              {{'MixedComponent.Error.NotDist' | translate}}
            </div>
          </form>
        </li>
        <li *ngIf='user.country && !countryEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='countryEditing=true'>
            <h4>{{'MixedComponent.Country' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.country}}</span>

        </li>
        <li *ngIf='!user.country && !countryEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='countryEditing=true'>
            <h4>{{'MixedComponent.Country' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>

        </li>
        <li *ngIf='countryEditing' class="alter">
          <form [formGroup]='countryForm' (ngSubmit)='done("countryForm","country","user","countryEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Country' | translate}}</h4>
              <input type="text" formControlName='country'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("countryForm","country","user","countryEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
          </form>
        </li>
        <li *ngIf='user.nationality && !nationalityEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='nationalityEditing=true'>
            <h4>{{'MixedComponent.Nationality' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto"> {{user.nationality}}</span>
        </li>
        <li *ngIf='!user.nationality && !nationalityEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column' ngClass.lt-md='bottom-margin'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='nationalityEditing=true'>
            <h4>{{'MixedComponent.Nationality' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>

        </li>
        <li *ngIf='nationalityEditing' class="alter">
          <form [formGroup]='nationalityForm' (ngSubmit)='done("nationalityForm","nationality","user","nationalityEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.Nationality' | translate}}</h4>
              <input type="text" formControlName='nationality'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("nationalityForm","nationality","user","nationalityEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
          </form>
        </li>
        <li *ngIf='user.nid && !nidEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='nidEditing=true'>
            <h4>{{'MixedComponent.NID' | translate}}</h4>
          </span>
          <span fxFlex="1 0 auto">{{user.nid}}</span>

        </li>



        <li *ngIf='!user.nid && !nidEditing' fxLayout.gt-sm='row' fxLayout.lt-md='column'>
          <span fxFlex.gt-sm="0 0 13.5em">
            <img src="assets/img/edit-icon.png" class="icon" (click)='nidEditing=true'>
            <h4>{{'MixedComponent.NID' | translate}}</h4>
          </span>

          <span fxFlex="1 0 auto">{{'MixedComponent.None' | translate}}</span>
        </li>




        <li *ngIf='nidEditing' class="alter">
          <form [formGroup]='nidForm' (ngSubmit)='done("nidForm","nid","user","nidEditing","userChanges")'
            fxLayout.gt-sm='row' fxLayout.lt-md='column'>
            <span>
              <h4>{{'MixedComponent.NID' | translate}}</h4>
              <input type="text" formControlName='nid'>
            </span>
            <div fxLayoutAlign.lt-md='center' ngClass.lt-md='margin-top' ngClass.gt-sm='block'>
              <img src="assets/img/wrong.png" (click)='cencel("nidForm","nid","user","nidEditing")'>
              <!-- input type submit image button -->
              <input src="assets/img/right.png" type='image' class='submit-button'>
            </div>
            <div class="clearfix"></div>
            <div *ngIf='nidForm.controls.nid.hasError("pattern")' class="errorMessege">
              {{'MixedComponent.Error.Number' | translate}}
            </div>
          </form>
        </li>
        <div class="clearfix"></div>
      </ul>
      <div class="clearfix"></div>
    </div>








    <div class="clearfix"></div>
  </mat-card>
  <app-footer></app-footer>
</div>