<div ngClass.gt-sm="main-container">

  <div ngClass.gt-sm="up-comming">
    <h1>{{'HomeComponent.NearEvent' | translate}}</h1>
    <table fxLayoutAlign.lt-md="center">
        <tr fxHide.lt-md fxLayout="row wrap" style="padding: 0px 24px;">
            <th fxFlex>{{'HomeComponent.NameLab' | translate}}</th>
            <th fxFlex>{{'HomeComponent.DateLab' | translate}}</th>
            <th fxFlex>{{'HomeComponent.TimeLab' | translate}}</th>
            <th fxFlex>{{'HomeComponent.DayRemLab' | translate}}</th>
        </tr>
    <tr>
      <mat-card fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px"> 
      <td fxFlex>{{'HomeComponent.MetLab' | translate}}</td>
      <td fxFlex>{{'HomeComponent.Date' | translate}}</td>
      <td fxFlex>{{'HomeComponent.Time' | translate}}</td>
      <td fxFlex>{{'HomeComponent.DayRem' | translate}}</td>
    </mat-card>
    </tr>
  </table>
  </div>
  <div ngClass.gt-sm="up-comming">
      <h1>{{'HomeComponent.AllEvent' | translate}}</h1>

      <table fxLayoutAlign.lt-md="center">
        <tr fxHide.lt-md fxLayout="row wrap" style="padding: 0px 24px;">
          <th fxFlex>{{'HomeComponent.NameLab' | translate}}</th>
          <th fxFlex>{{'HomeComponent.DateLab' | translate}}</th>
          <th fxFlex>{{'HomeComponent.TimeLab' | translate}}</th>
          <th fxFlex>{{'HomeComponent.DayRemLab' | translate}}</th>
        </tr>
    <tr>
      <mat-card fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px"> 
        <td fxFlex>Traning</td>
        <td fxFlex>10/1/2018</td>
        <td fxFlex>6:00pm</td>
        <td fxFlex>10 days remaining</td>
    </mat-card>
    </tr>
    <tr>
      <mat-card fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px"> 
        <td fxFlex>Young Mafil</td>
          <td fxFlex>12/1/2018</td>
          <td fxFlex>9:00am</td>
          <td fxFlex>12 days remaining</td>
    </mat-card>
    </tr>

    <tr>
      <mat-card fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px"> 
          <td fxFlex>Tepra Mafil</td>
          <td fxFlex>14/1/2018</td>
          <td fxFlex>6:00pm</td>
          <td fxFlex>14 days remaining</td>
    </mat-card>
    </tr>
  </table>
    </div> <!-- all -->
    <app-footer></app-footer>
</div> <!-- main container -->