
<div *ngIf='activeUserRole=="Admin"'>
  <app-admin-nav></app-admin-nav>
</div>
<div *ngIf='activeUserRole=="Operator"'>
  <app-register-nav></app-register-nav>
</div>
<div *ngIf='activeUserRole=="User"'>
    <app-user-nav></app-user-nav>
</div>
<div *ngIf='activeUserRole==="Accountant"'>
    <app-accountant-nav></app-accountant-nav>
</div>
<div *ngIf='activeUserRole=="Super" || activeUserRole=="Leader"'>
    <app-sule-nav></app-sule-nav>
</div>

<div class="main-container">

  <div class="up-comming">
    <h1>Near by event</h1>
    <table>
        <div class="heading">
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Day Remanung</th>
          </div>
    <tr>
      <mat-card class="card">
      <td>General mafil</td>
      <td>1/1/2018</td>
      <td>6:00pm</td>
      <td>3 days remaining</td>
    </mat-card>
    </tr>
  </table>
  </div>
  <div class="all">
      <h1>All event</h1>
      <table>
          <div class="heading">
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Day Remanung</th>
            </div>
      <mat-card class="card">
      <tr>
        <td>Traning</td>
        <td>10/1/2018</td>
        <td>6:00pm</td>
        <td>10 days remaining</td>
      </tr>
      <tr>
          <td>Young Mafil</td>
          <td>12/1/2018</td>
          <td>9:00am</td>
          <td>12 days remaining</td>
        </tr>
        <tr>
            <td>Tepra Mafil</td>
            <td>14/1/2018</td>
            <td>6:00pm</td>
            <td>14 days remaining</td>
          </tr>
        </mat-card>
      </table>
    </div> <!-- all -->
    <app-footer></app-footer>
</div> <!-- main container -->