
.up-comming td,.all td{
    padding-right: 2em;
}

.card{
    background: #ffffffb4;
    display: inline-block;
    padding-left:0px; 
    
}

h1{
    font-size: 30px;
    text-align: center;
}



.up-comming, .all{
    display: table;
    margin: auto;
}

table th{
    width: 19em;
    font-size: 25px;
    padding: 10px;
    text-align: start;
}

table td{
    padding-left:10px; 
    width: 34em;
    font-size: 22px;
    
}

.main-container {
    width: 59%;
    margin: auto;
    
}