ul{
    list-style:none;
    margin: 0;
}

.container{
    display: table;
    margin:auto;
}

.back-btn{
    float:left;
}

.payment-btn, .spayment-btn ,.delete-btn{
    display: block;
    margin-top:4vh; 
    width: 180px;
    padding: .5em 0;
    font-size: 20px;
    background: green;
    color: wheat;
}

.delete-btn{
   
    background: rgb(212, 3, 3);
}

.spayment-btn{
  
    background: rgb(33, 1, 92)
   
}

h1{
    text-align:center;
    vertical-align: middle;
}

.sub-1{
    float: left;
}

.sub-2{
    float:left;
}

h4{
    display: inline-block;
    padding-bottom: .8em;
    margin: 0;
    width: 10em;
}

.sub-1 img{
    width: 170px;
    height: 170px;
    border: 5px solid gray;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    background: green;
    color: whitesmoke;
}

.footer h1{
    display: inline;  
}

.footer div{
    display: table;
    margin: auto;
}

.more-btn{
    float: right;
    margin-left:20px;
    padding:2px 0; 
    background:black;
}
.sub-header{
    margin-bottom:1.2em; 
}

.sub-header h2{
    display: inline;
}

.sub-header a{
    float: right;
    background: rgb(255, 166, 0);
}
